
<section class="login d-flex justify-content-center">
    <div class="col-sm-8">
      <h1 class="mb-3 text-center">Login</h1>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= render 'login' %>
    </div>
</section>