<div class="py-3">
  <img src="<%= video.thumbnail_url %>">
</div>
<div class="paywall">
  <div class="wrapper col-sm-10 col-lg-8 col-xl-4 p-4">
    <div class="login">
      <%= render 'sessions/login' %>
    </div>
    <br/>
    <p>Not subscribed yet?&nbsp;<a href="#">Sign Up</a></p>
  </div>
</div>