<p id="notice"><%= notice %></p>

<section class="content-section" id="portfolio">
  <div class="content-section-heading text-center">
    <h3 class="text-secondary mb-0">Portfolio</h3>
    <h2 class="mb-5">Videos</h2>
  </div>
  <%= render 'list', videos: @videos %>
</section>
<%= javascript_pack_tag 'videos' %>